.aside__usersList {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.aside__noChats {
  font-size: 24px;
  color: #c1c8eb;
  opacity: 0.6;
  margin-left: 60px;
  margin-top: 500px;
}

.aside__chatItem {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  height: 80px;
  padding: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.2s;
}

.aside__chatItem:hover {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: #474558;
  transition: background-color 0.2s;
}

.aside__chatAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-right: 20px;
  mask-image: url("../../assets/images/person.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}



.aside__chatName {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: start;
  width: 200px;
  padding: 5px;
}
.aside__chatName h3 {
  font-size: 18px;
  color: #ffffff;
  opacity: 0.7;
  margin-top: 10px;
}
.aside__chatName p {
  font-size: 16px;
  color: #ffffff;
  opacity: 0.6;
  margin-bottom: 10px;
}