.chatBox__alarm {
  position: relative;
  font-weight: 700;
  font-size: 30px;
  color: #686868;
  opacity: 0.5;
}

.chatBox {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: end;
  background: #4a5072;
}

.chatBox_empty {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #474558;
}