.chatBox__alarm {
  position: relative;
  font-weight: 700;
  font-size: 30px;
  color: #686868;
  opacity: 0.5;
}

.chatBox {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: #4a5072;
  overflow: hidden;

}

.chatBox_empty {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #474558;
}

.messagesContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  padding: 15px;
  gap: 10px;

  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-track {
    background: #474558;
    border-radius: 30px;
  }

  &::-webkit-scrollbar-thumb {
    background: #5c5c5c;
    border-radius: 30px;
    border: none;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.messageWrapper {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.chatBox__messageBox {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: auto;
  min-height: 70px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
  object-position: center;
}

.messageSender {
  margin-bottom: 4px;
  font-size: 12px;
  color: #cdd4f3;
  opacity: 0.9;
}

.messageText {
  font-size: 18px;
  color: #000;
  opacity: 0.8;
}
