.aside__userListItem {
  display: flex;
  background: transparent;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: left;
}

.aside__modal_avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 10px;
}

.aside__modal_name {
  text-align: left;
  max-height: 20px;
  overflow: hidden;
  color: #ffffff;
  font-size: 16px;
  margin-left: 10px;
}

.aside__modal_customLine {
  border: none;
  height: 1px;
  background: #242427;
  opacity: 0.5;
  margin: 10px 0;
}

.aside__userListItem:hover .aside__modal_name {
  overflow: visible;
}

.aside__userListItem:hover {
  border-radius: 15px;
  background-color: rgba(72, 73, 82, 0.6);
  transition: background-color 0.2s;
}

.aside__checkboxItemBlock {
  display: flex;
  align-items: center;
}

.aside__custom_checkboxItem {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.aside__real_checkboxItem {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.aside__fake_checkboxItem {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #c1c8eb;
  margin-left: 10px;
  margin-right: 10px;
  background-color: transparent;
  cursor: pointer;
}

.aside__fake_checkboxItem_checked {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #c1c8eb;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #38ebcd;
  mask-image: url("../../assets/images/accept.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  cursor: pointer;
  transition: background-color 0.2s;
}