.header__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 105px;
  width: 100%;
  background: #333333;
  border-left: 2px solid #1f1f27;
}

.header__name {
  color: #cdd4f3;
  font-size: 26px;
  font-weight: 700;
  opacity: 0.9 !important;
}

.header__btnBox {
  height: 80px;
  width: 200px;
}

.header__members {
  display: flex;
  font-size: 14px;
  opacity: 0.7;
  color: #c1c8eb;
  margin-top: 10px;
}

.header__members li {
  margin-right: 10px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  height: 90px;
}

.header__avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-left: 10px;
  margin-right: 20px;
  mask-image: url("../../assets/images/person.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

.header__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 20px;
  margin-left: 30px;
}