.aside {
  display: flex;
  flex-direction: column;
  width: 20vw;
  min-width: 300px;
  height: 100vh;
  background-color: #333333;
}

.aside__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 50px;
  margin-top: 20px;
}

.aside__search_line {
  width: 70%;
  height: 50px;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 30px;
  background: #474558;
  font-size: 16px;
  color: #c1c8eb;
  border: none;
}

.aside__search_line::placeholder {
  color: #c1c8eb;
  opacity: 0.6;
}


.aside__newChat_btn {
  height: 40px;
  width: 40px;
  margin-left: 20px;
  border: none;
  cursor: pointer;
  mask: url("../../assets/images/create-chat.svg") no-repeat center;
  -webkit-mask: url("../../assets/images/create-chat.svg") no-repeat center;
  background-color: #7b7c7e;
  transition: background-color 0.3s;
}

.aside__close_btn {
  height: 40px;
  width: 40px;
  margin-left: 20px;
  border: none;
  cursor: pointer;
  mask: url("../../assets/images/close.svg") no-repeat center;
  -webkit-mask: url("../../assets/images/close.svg") no-repeat center;
  background-color: #7b7c7e;
  transition: background-color 0.3s;
}

.aside__newChat_btn:hover {
  background-color: #ffffff;
}

.aside__close_btn:hover {
  background-color: #ffffff;
}


.aside__modal {
  position: absolute;
  z-index: 10;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 80px;
  left: 20px;
  width: 15vw;
  min-width: 260px;
  height: 50vh;
  max-height: 50vh;
  overflow-y: auto;
  background-color: #474558;
  border-radius: 5px;
  scrollbar-gutter: stable both-edges;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #474558;
    border-radius: 30px;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 30px;
    border: none;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.aside__modal_hover {
  position: absolute;
  opacity: 0.9;
  display: flex;
  z-index: 10;
  flex-direction: column;
  align-items: center;
  top: 80px;
  left: 20px;
  width: 15vw;
  min-width: 260px;
  height: 50vh;
  max-height: 50vh;
  overflow-y: auto;
  background-color: #474558;
  border-radius: 5px;
  scrollbar-gutter: stable both-edges;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #474558;
    border-radius: 30px;
  }

  &::-webkit-scrollbar-thumb {
    background: #5c5c5c;
    border-radius: 30px;
    border: none;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.aside__modal_header {
  position: sticky;
  z-index: 10;
  top: 0;
  left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  width: 100%;
  flex-shrink: 0;
  background-color: rgba(73, 75, 90, 0.98);
  border-radius: 15px;
}

.aside__userList {
  padding: 5%;
}

.aside__noResults {
  color: #c1c8eb;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

.aside__modal_btn {
  position: absolute;
  z-index: 10;
  top: 675px;
  left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #c1c8eb;
  width: 15.45vw;
  min-width: 260px;
  border: none;
  background-color: rgba(73, 75, 90, 0.98);
  border-radius: 15px;
  transition: background-color 0.3s;
}

.aside__modal_btn:hover {
  position: absolute;
  z-index: 10;
  top: 675px;
  left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: rgba(73, 75, 90, 0.98);
  width: 15.45vw;
  border: none;
  background-color: rgba(193, 200, 235, 0.9);
  border-radius: 15px;
  transition: background-color 0.3s;
}

.aside__nameChat {
  position: absolute;
  z-index: 10;
  top: calc(50% - 10vh);
  left: calc(50% - 15vw);
  padding: 10px 20px;
  font-size: 16px;
  color: #c1c8eb;
  height: 20vh;
  width: 30vw;
  border: none;
  background-color: rgba(73, 75, 90, 0.98);
  border-radius: 15px;
}

.aside__nameChat {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.aisde__nameChat_header {
  font-size: 30px;
  letter-spacing: 4px;
  opacity: 0.8;
}

.aside__nameChat_btn {
  width: 200px;
  height: 40px;
  border: none;
  cursor: pointer;
  color: #c1c8eb;
  font-size: 16px;
  background-color: #333333;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.aside__nameChat_btn:hover {
  width: 200px;
  height: 40px;
  border: none;
  cursor: pointer;
  color: #9ba1bd;
  font-size: 16px;
  background-color: #424242;
  border-radius: 20px;
  transition: background-color 0.3s;
}
