.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  min-width: 300px;
  height: 100vh;
  background-color: #333333;
}

.aside__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 50px;
  margin-top: 20px;
}

.aside__search_line {
  width: 70%;
  height: 50px;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 30px;
  background: #474558;
  font-size: 16px;
  color: #c1c8eb;
  border: none;
}

.aside__search_line::placeholder {
  color: #c1c8eb;
  opacity: 0.6;
}

.aside__newChat_btn {
  height: 40px;
  width: 40px;
  margin-left: 20px;
  border: none;
  cursor: pointer;
  mask: url("../../assets/images/create-chat.svg") no-repeat center;
  -webkit-mask: url("../../assets/images/create-chat.svg") no-repeat center;
  background-color: #7b7c7e;
  transition: background-color 0.3s;
}

.aside__close_btn {
  height: 40px;
  width: 40px;
  margin-left: 20px;
  border: none;
  cursor: pointer;
  mask: url("../../assets/images/close.svg") no-repeat center;
  -webkit-mask: url("../../assets/images/close.svg") no-repeat center;
  background-color: #7b7c7e;
  transition: background-color 0.3s;
}

.aside__newChat_btn:hover {
  background-color: #ffffff;
}

.aside__close_btn:hover {
  background-color: #ffffff;
}