.messageLine {
  display: flex;
  background-color: #333333;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-left: 2px solid #1f1f27;
}

.messageLine__input {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #c1c8eb;
}

.messageLine__sendBtn {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  border: none;
  cursor: pointer;
  background-color: #474558;
  border-radius: 20px;
  mask-image: url("../../assets/images/send.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 40px 40px;
  transition: background-color 0.3s;
}

.messageLine__sendBtn:hover {
  background-color: #7b7c7e;
}